<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parameterization TestNG Suite">
  <test name="Testing Parameterization">
  <parameter name = "Browser" value = "Chrome"/>
  <parameter name = "url" value="https:/rediff.com"/>
  <parameter name="emailid" value="seleniumpanda@rediffmail.com"/>
  <parameter name = "password" value = "Selenium@123"/>
   <classes>
      <class name="com.TestNg.learn.Parameterization_testng"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
